@font-face {
  font-family: 'Anton';
  src: url("../fonts/Anton-regular.woff2") format('woff2'),
  url("../fonts/Anton-regular.ttf") format('ttf');
}

@font-face {
  font-family: 'LatoB';
  src: url("../fonts/Lato-Black.woff2") format('woff2'),
  url("../fonts/Lato-Black.ttf") format('ttf');
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format('woff2'),
  url("../fonts/Lato-Regular.ttf") format('ttf');
}



$width_quarante : 40%;

$text_align: center;

$jaune: rgb(252,183,49);
$marron: rgb(195,165,117);
$bleu: rgb(0,175,236);
$vert: rgb(179,209,67);
$gris: rgb(109,111,113);

%width_cent{
  width: 100%;
}

%icone_flex{
  width: $width_quarante;
  text-align: $text_align;
  div{
    @extend %width_cent;
    img {
      width: $width_quarante;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}


header{
  margin-top: 10px;
  margin-bottom: 10px;
  .logo_header{
    width: 50%;
    display: inline-block;
    img{
      @extend %width_cent;
    }
  }
  nav{
    display: none;
  }
}

.premiere_partie {
  .premiere_image {
    @extend %width_cent;
    img {
      @extend %width_cent;
    }
  }
  .deuxieme_image {
    @extend %width_cent;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }
  .slogan {
    font-family: Anton;
    font-size: 30px;
    text-align: $text_align;
    color: $jaune;
    h1{
      margin-bottom:0;
    }
    h3 {
      margin-top: 0;
    }
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @extend %width_cent;
    font-family: LatoB;
    font-size: 40px;
    .marron{
      color: $marron;
      @extend %icone_flex;
    }
    .vert{
      color: $vert;
      @extend %icone_flex;
    }
    .bleu{
      color: $bleu;
      @extend %icone_flex;
    }
    .jaune{
      color: $jaune;
      @extend %icone_flex;
    }
  }
  .fond_point{
    background: repeat url("../svg/points.svg");
    color: $gris;
    margin: 10px;
    h3 {
      padding-top: 20px;
      text-align: $text_align;
      font-family: LatoB;
      font-size: 40px;
    }
    p, ul{
      font-family: Lato;
      font-size: 20px;
      line-height: 1.5;
    }
  }
  .fond_gris {
    background-color: $gris;
    border-radius: 25px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: $text_align;
    color: white;
    h3 {
      font-family: LatoB;
      font-size: 40px;
      padding-top: 50px;
    }
  }
  .bouton_jaune{
    font-family: LatoB;
    background-color: $jaune;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 25px;
    font-size: 50px;
    img{
      width: 20%;
    }
  }
}